extends layout

block content
  .container
    h1=Search
    form(action="/results", method='get')
      input(id='searchField', placeholder='Search', name='q', type='search')
      input(type='submit', value='Search')
