extends ../node_modules/jade-bootstrap/_bootstrap

block styles
  link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
  link(rel="stylesheet", href="../stylesheets/style.css")


block body

  block header
    +navbar("Colenso Project", "dropdown_menu")
      +nav_item("/", "active") Search
      +nav_item("/upload") Upload
      +nav_item_dropdown("#")(label="Tools")
        +nav_item("/admin") Search History
        +nav_item("/saved-searches") Saved Searches
      div(class="navbar-form navbar-right")
        input(type="text" class="form-control" placeholder="Username" id="username")
        input(type="submit" value="Login" class="btn btn-default" id="loginButton")
      li()
        a(id="logoutButton") Logout
  block content

  script(src="../javascripts/layout_client.js")
