extends layout

block content
  div(class="row")
    div(class="col-xs-8 col-xs-offset-2")
      a(href="#{letterID}/download") Download
      a(href="#{letterID}/delete") Delete
  div(class="row")
    div(class="col-xs-8 col-xs-offset-2")
      !{data}

  script(src="../javascripts/letters_client.js")
