extends layout

block content
  div(class='page-header')
    h1 Search Results
    h4 search query blah blah
  div(class="row")
    div(class="col-xs-8 col-xs-offset-2")
      div(class="list-group")
        each result in data
          a(href="/letters/#{result.uri}", class="list-group-item")
            h4(class="list-group-item-heading") #{result.title}
            <p class="list-group-item-text">#{result.author}</p>



  script(src="../javascripts/results_client.js")
